#contact{
    background-color: #c6c6dd;
    padding: 100px 0 0 0;
}

#contact .formulaire{
    max-width: 1100px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 10px 30px -10px #d6d6d6;
}

#contact .formulaire .title{
    text-align: center;
}

#contact .formulaire .title h6{
    font-size: 1.5em;
}

#contact .formulaire .title h3{
    font-size: 2.8em;
    margin: -40px 0 15px 0;

}

#contact .formulaire form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 700px;
}

#contact .formulaire form input{
    width: 47%;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid #e4e4ec;
    transition: 0.2s;
}

#contact .formulaire form select{
    width: 47%;
}
#contact .formulaire form input:hover,
#contact .formulaire form select:hover,
#contact .formulaire form textarea:hover{
    border-bottom: 2px solid #1fb3fb;
}

#contact .formulaire form textarea, 
#contact .formulaire form select, 
#contact .formulaire form input{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid #e4e4ec;
    transition: 0.2s;
}
#contact .formulaire form textarea,
#contact .formulaire form h3
{
    width: 100%;
    resize: none;
}

#contact .formulaire form h3{
    font-size: 2.5em;
}

#contact .formulaire form button{
    width: 192px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #ffbe6f;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
}

#contact .formulaire form p{
    font-size: 0.5em;
}

.h3{
    text-align: center;
}

.bouttonBottom{
    width: 800px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.title{
    padding-top: 50px;
}



.erreur{
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: red;
}

.select{
    background-color: white;
}

.groupe{
    display: flex;
    justify-content: space-around;
}

.categorie{
    display: flex;
    justify-content: space-between;
    width: 450px;
}

.compSelected{
    width: 800px;
    margin: auto;
}

.compSelectedBtn{
    margin: 15px 0;
}

h1{
    font-size: 1.3em;
    text-transform: uppercase;
}

p{
    padding-left: 30px;
    font-size: 1.1em;
}

.btnComp{
    height: 30px;
    width: 70px;
}

.btnNewComp, .btnBot{
    width: 192px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #8b8bb1;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    margin: 15px 0;
}

.btnBottom{
    width: 200px;
    margin: 40px auto;
    padding-bottom: 50px;
}

.btnBotFixe{
    height: 30px;
    width: 85px;
    margin: 15px;
}

.back{
    position: fixed;
    top: 50px;
    left: 15px;
    z-index: 150;
}

table{
    width: 350px;
}